{% extends "main/base.html" %}
{% load static %}
{% block title %}Secret Keeper{% endblock %}
{% block body %}
    <!-- Left Sidebar -->
    <section id=sidebar>
        <header>
            Secret Keeper
        </header>
        <section id='group-list'>
            {% for group in groups %}
            <div class="group" group-id="{{ group.id }}">{{ group.name }}</div>
            {% endfor %}
        </section>
        <div id='end'>Создать группу</div>
    </section>
    <!-- End Sidebar -->

    <div id='super_body'>
        <!-- Headers -->
        <div id='cap'>
            <p id='user-info'>{{ user.first_name }} {{ user.last_name }} | {{ user.job }}</p>
            <form action="/logout" method="POST">
                {% csrf_token %}
                <button type="submit" id='logout'><img id='logout_img' src="{% static 'images/32.png' %}"></button>
            </form>
        </div>
        <!-- Main Screen includes accounts and notifications -->
        <div id='main_field'>
            <div id='screen'>
            </div>

            <div id='notifications'>
                <div>
                    <p>Уведомления</p>
                </div>
                <ul id='nots'>
                    {% if accounts|length == 0 %}
                        <p style="text-align: center;">Нет уведомлений</p>
                    {% endif %}
                    {% for account in accounts %}
                        <li class=''>Истекает срок действия пароля от аккаунта <span class='left_time' attempt-id='{{ account.id }}'>{{ account.name }}</span><br> Дней осталось: {{ account.days }}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
    <!-- PopUp Behind -->
    <div class="b-popup" id="popup" style="display: none;">
        <!-- Group popUp -->
        <div class="popup" id='popup_group' style="display: none;">
            <div class='pop_head'>
                <p>Новая группа</p>
            </div>
            <div class='pop_field'>
                <p>Название:</p><input id='new_group' autocomplete='off' />
            </div>
            <div class='pop_footer'>
                <button style="border-bottom-right-radius: 3px;;border-bottom-left-radius: 3px;"
                    onclick="addGroup()">Создать</button>
            </div>
        </div>
        <!-- Master Key -->
        <div class="popup" id='popup_key' style="display: none;top: 15%;">
            <!-- <div class='pop_head'> -->
                <!-- <p>Новая группа</p> -->
            <!-- </div> -->
            <div class='pop_field'>
                <p>Ключ:</p><input id='master_key' autocomplete='off' />
            </div>
            <div class='pop_footer'>
                <button style="border-bottom-right-radius: 3px;;border-bottom-left-radius: 3px;" id='master_key_button'>Создать</button>
            </div>
        </div>
        <!-- Create Account -->
        <div class='popup' id='popup_account' style="display: none;">
            <div class='pop_head'>
                <p>Создать аккаунт</p>
            </div>
            <div class='pop_field'>
                <p>Название:</p><input id='account_name' autocomplete="off" />
            </div>
            <div class='pop_field'>
                <p>Логин:</p><input id='account_login' autocomplete="off" />
            </div>
            <div class='pop_field'>
                <p>Пароль:</p>
                <div class="tooltip">
                    <input type="password" id='account_password' autocomplete="new-password" />
                    <span class="tooltiptext" id="myTooltip">Double click to generate</span>
                </button>
                </div>
            </div>
            <div class='pop_field'>
                <p>URL:</p><input id='account_url' autocomplete="off" />
            </div>
            <div class='pop_field dsc'>
                <p>Описание:</p><br><small class='pop_small'>необязательно</small>
            </div>
            <div class="pop_field" id='description'><textarea id='account_description'></textarea></div>
            <div class='pop_footer'>
                <button style=" border-bottom-right-radius: 3px;" id='create_account'
                    onclick="addAccount()">Создать</button>
            </div>
        </div>
        <!-- Show account -->
        <div class='popup' id='popup_account_show' style="display: none;">
            <div class='pop_head'>
                <p>Аккаунт</p>
            </div>
            <div class='pop_field'>
                <p>Название:</p><input id='account_name_show' disabled autocomplete="off" />
            </div>
            <div class='pop_field'>
                <p>Логин:</p><input id='account_login_show' disabled autocomplete="off" />
            </div>
            <div class='pop_field'>
                <p>Пароль:</p> 
                <div class="tooltip">
                    <input type="password" class='unselectable tooltip' disabled id='account_password_show' autocomplete="new-password" />
                    <span class="tooltiptext" id="myTooltip">Double click to copy</span>
                </button>
                </div>

            </div>
            <div class='pop_field'>
                <p>URL:</p><input id='account_url_show' disabled autocomplete="off" />
            </div>
            <div class='pop_field dsc'>
                <p>Описание:</p>
            </div>
            <div class="pop_field" id='description'><textarea disabled id='account_description_show'></textarea></div>
            <div class='pop_footer'>
                <button style="border-right: 1px solid #7C868D;border-bottom-left-radius: 3px;"  id='update_account' onclick="updateAccount()">Обновить</button>
                <button style=" border-bottom-right-radius: 3px;" id='del-account' onclick="deleteAccount()">Удалить</button>
            </div>
        </div>
        <!-- Update  -->
        <div class='popup' id='popup_account_update' style="display: none;">
            <div class='pop_head'>
                <p>Обновить аккаунт</p>
            </div>
            <div class='pop_field'>
                <p>Название:</p><input id='account_name_upd' autocomplete="off" />
            </div>
            <div class='pop_field'>
                <p>Логин:</p><input id='account_login_upd' autocomplete="off" />
            </div>
            <div class='pop_field'>
                <p>Пароль:</p>
                <div class="tooltip">
                    <input type="password" id='account_password_upd' autocomplete="new-password" />
                    <span class="tooltiptext" id="myTooltip">Double click to generate</span>
                </button>
                </div>
            </div>
            <div class='pop_field'>
                <p>URL:</p><input id='account_url_upd' autocomplete="off" />
            </div>
            <div class='pop_field dsc'>
                <p>Описание:</p><br><small class='pop_small'>необязательно</small>
            </div>
            <div class="pop_field" id='description'><textarea id='account_description_upd'></textarea></div>
            <div class='pop_footer'>
                <button style=" border-bottom-right-radius: 3px;" id='upd_account'>Обновить</button>
            </div>
        </div>
    </div>
    <!-- Messages Block -->
    <div class="b-popup" id="popup_z" style="display: none;">
        <!-- Simple Message -->
        <div class="popup" id="popup-message" style="display: none; top: 10%;">
            <div class='pop_field'>
                <p align="center" id='message_text'></p>
            </div>
        </div>
        <!-- Confirm Message -->
        <div class="popup" id="popup-confirm" style="display: none; max-width: max-content;">
            <div class='pop_field' id='confirm_text'>
            </div>
            <div class='pop_footer'>
                <button style="border-right: 1px solid #7C868D;border-bottom-left-radius: 3px;" id='confirm_yes'>Да</button>
                <button style="border-bottom-right-radius: 3px;" id='confirm_no' data-target=''>Нет</button>
            </div>
        </div>
        <div class="popup" id="popup-alert" style="display: none; top: 15%; max-width: max-content;">
            <div class='pop_field' id='alert_text'>
            </div>
            <div class='pop_footer'>
                <button style="border-right: 1px solid #7C868D;border-bottom-left-radius: 3px;" onclick="showMasterKey()">Ок</button>
            </div>
        </div>
        <!--  -->
    </div>
<a id='master_key_status' status='{{ status }}' style="display: none;"></a>
<a id='policy' style="display: none;" min-length='{{ policy.min }}' max-length='{{ policy.max }}'>{{ policy.reg }}</a>
{% endblock %}
