{% extends "main/base.html" %}
{% load static %}
{% block title %}Secret Keeper{% endblock %}
{% block body %}
    <style>
        #super_body {
            /* width: 1000px;
            height: 900px; */
            width: 100%;
            height: 100%;
        }

        #main_field {
            display: flex;
            justify-content: space-between;

        }

        #notifications {
            margin-left: 50px;
            width: 200px;
            min-width: 200px;
            height: 100%;
            /* background-color: red; */
        }

        #notifications>div {
            border-bottom: 1px solid #586B74;
            text-align: center;
        }

        #notifications>div>p {
            margin: 10px 0;
        }

        #screen {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    </style>

    <script>
        // Set CSRF Token
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $(document).ready(function () {
            csrftoken = $("input[name=csrfmiddlewaretoken]").attr("value")

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });

        // Next part
        // Close popul if click ovveride
        $(document).on('click', '#popup', function (e) {
            if (!$(e.target).closest(".popup").length) {
                cleanUp()
            }
        })
        // Or if click Escape
        $(document).keyup(function (e) {
            if (e.keyCode == 27 && $('.popup').is(":visible") && !$('#popup_z').is(":visible")) {
                cleanUp()
            }
        })

        $(document).on('dblclick', '#account_password_show', function(e){
            console.log("YOu click double")
        })

        $(document).on('click', '#end', function (e) {
            $('#popup').fadeIn(300)
            $('#popup_group').fadeIn(300)
        })

        $(document).on('click', '.add-account', function (e) {
            group_id = $(e.target).parent().parent().attr('group-id')
            $('#popup').fadeIn(300)
            $('#popup_account').fadeIn(300)
        })

        $(document).on('click', '.group', function (e) {
            if (!$(e.target).hasClass('group')) return NaN
            $('div').removeClass('selected-group')
            $('.actions').remove()
            $(e.target).addClass('selected-group')
            $(e.target).append(`
                <div class='actions'>
                    <span class='sidebar-action add-account'>+</span>
                    <span class='sidebar-action del-group'>х</span>
                </div>
            `)
            // Get Accounts to the group
            var id = $(e.target).attr('group-id')
            accounts = getAccounts(id)
        })

        $(document).on('click', '.click', function (e) {
            // Show the account 
            var accountId = $(e.target).parent().attr('account-id')
            $('#popup_account_show').attr('account-id-show', accountId)
            getAccount(accountId)
        })

        
        // Hello
        $(document).on('click', '.del-group', function (e) {
            var groupId = $(e.target).parent().parent().attr('group-id')
            $('#confirm_yes').attr('data-target', 'group')
            $('#confirm_yes').attr('data-id', groupId)
            showConfirm(`<p style="margin: 0; margin-bottom: 7px;">Вы уверены, что хотите удалить группу?</p><small style="font-size: 8pt; color:gray;"'>Все аккаунты группы так же будут удалены</small>`)
        })

        function deleteAccount(e) {
            var accountId = $('#del-account').parent().parent().attr('account-id-show')
            $('#confirm_yes').attr('data-target', 'account')
            $('#confirm_yes').attr('data-id', accountId)
            showConfirm(`<p style="margin: 0; margin-bottom: 7px;">Вы уверены, что хотите удалить аккаунт?</p><small style="font-size: 8pt; color:gray;"'>Данные невозможно будет восстановит</small>`)
        }

        function updateAccount(e) {
            var accountId = $('#update_account').parent().parent().attr('account-id-show')
            console.log("Account id is: ", accountId)
            $('#popup_account_show').hide()
            $('#popup_account_update').show()
            // Nex
            $('#account_name_upd').val($('#account_name_show').val())
            $('#account_login_upd').val( $('#account_login_show').val())
            $('#account_password_upd').val($('#account_password_show').val())
            $('#account_url_upd').val($('#account_url_show').val())
            $('#account_description_upd').val($('#account_description_show').val())
            $('#popup_account_update').attr('account-id-upd', accountId)
        }

        $(document).on('click', '#upd_account', function(e){
            var accountId = $('#upd_account').parent().parent().attr('account-id-upd')
            updAccount(accountId)
        })

        function showConfirm(text, $true, e) {
            $('#confirm_text').html(text)
            $('#popup_z').fadeIn(300)
            $('#popup-confirm').fadeIn(400)
        }
        
        $(document).on('click', '#confirm_no', function () {
                $('#popup_z').fadeOut(300)
                $('#popup-confirm').fadeOut(200)
        })

        $(document).on('click', '#confirm_yes', function() {
            if($('#confirm_yes').attr('data-target') == 'group'){
                // Delete Group
                var id = $('#confirm_yes').attr('data-id')
                delGroup(id)
                $('#popup-confirm').fadeOut(200)
            } else if($('#confirm_yes').attr('data-target') == 'account') {
                // Delete Account
                var id = $('#confirm_yes').attr('data-id')
                delAccount(id)
                $('#popup-confirm').fadeOut(200)
            } else {
                console.log('No choosen')
            }
        })
    </script>

    <!-- Left Sidebar -->
    <section id=sidebar>
        <header>
            Secret Keeper
        </header>
        <section id='group-list'>
            {% for group in groups %}
            <div class="group" group-id="{{ group.id }}">{{ group.name }}</div>
            {% endfor %}
        </section>
        <div id='end'>Создать группу</div>
    </section>
    <!-- End Sidebar -->

    <div id='super_body'>
        <!-- Headers -->
        <div id='cap'>
            <p id='user-info'>Alex Lavrinenko | Student</p>
            <form action="/logout" method="POST">
                {% csrf_token %}
                <button type="submit" id='logout'><img id='logout_img' src="{% static 'images/32.png' %}"></button>
            </form>
        </div>
        <!-- Main Screen includes accounts and notifications -->
        <div id='main_field'>
            <div id='screen'>
                <div class='min-account' id='1'>
                    <div class='name'>Hello, bitch</div>
                    <div class='description'>A very large text A very large textA very large text A very large text A
                        very large text A very large text A very large text </div>
                    <div class='click'>открыть</div>
                </div>
            </div>

            <div id='notifications'>
                <div>
                    <p>Уведомления</p>
                </div>
                <ul id='nots'>
                    <li>Истекает срок действия пароля от аккаунта 'test'. Осталось: 3 дня</li>
                    <li>Истекает срок действия пароля от аккаунта 'test'. Осталось: 3 дня</li>
                    <li>Истекает срок действия пароля от аккаунта 'test'. Осталось: 3 дня</li>
                </ul>

            </div>
        </div>
    </div>

    <!-- PopUp Behind -->
    <div class="b-popup" id="popup" style="display: none;">
        <!-- Group popUp -->
        <div class="popup" id='popup_group' style="display: none;">
            <div class='pop_head'>
                <p>Новая группа</p>
            </div>
            <div class='pop_field'>
                <p>Название:</p><input id='new_group' autocomplete='off' />
            </div>
            <div class='pop_footer'>
                <button style="border-bottom-right-radius: 3px;;border-bottom-left-radius: 3px;"
                    onclick="addGroup()">Создать</button>
            </div>
        </div>
        <!-- Master Key -->
        <div class="popup" id='popup_key' style="display: none;">
            <!-- <div class='pop_head'> -->
                <!-- <p>Новая группа</p> -->
            <!-- </div> -->
            <div class='pop_field'>
                <p>Ключ:</p><input id='new_group' autocomplete='off' />
            </div>
            <div class='pop_footer'>
                <button style="border-bottom-right-radius: 3px;;border-bottom-left-radius: 3px;"
                    onclick="addGroup()">Создать</button>
            </div>
        </div>
        <!-- Create Account -->
        <div class='popup' id='popup_account' style="display: none;">
            <div class='pop_head'>
                <p>Создать аккаунт</p>
            </div>
            <div class='pop_field'>
                <p>Название:</p><input id='account_name' autocomplete="off" />
            </div>
            <div class='pop_field'>
                <p>Логин:</p><input id='account_login' autocomplete="off" />
            </div>
            <div class='pop_field'>
                <p>Пароль:</p><input type="password" id='account_password' autocomplete="new-password" />
            </div>
            <div class='pop_field'>
                <p>URL:</p><input id='account_url' autocomplete="off" />
            </div>
            <div class='pop_field dsc'>
                <p>Описание:</p><br><small class='pop_small'>необязательно</small>
            </div>
            <div class="pop_field" id='description'><textarea id='account_description'></textarea></div>
            <div class='pop_footer'>
                <button style=" border-bottom-right-radius: 3px;" id='create_account'
                    onclick="addAccount()">Создать</button>
            </div>
        </div>
        <!-- Show account -->
        <div class='popup' id='popup_account_show' style="display: none;">
            <div class='pop_head'>
                <p>Аккаунт</p>
            </div>
            <div class='pop_field'>
                <p>Название:</p><input id='account_name_show' disabled autocomplete="off" />
            </div>
            <div class='pop_field'>
                <p>Логин:</p><input id='account_login_show' disabled autocomplete="off" />
            </div>
            <div class='pop_field'>
                <p>Пароль:</p><input type="password" class='unselectable' disabled id='account_password_show' autocomplete="new-password" />
            </div>
            <div class='pop_field'>
                <p>URL:</p><input id='account_url_show' disabled autocomplete="off" />
            </div>
            <div class='pop_field dsc'>
                <p>Описание:</p>
            </div>
            <div class="pop_field" id='description'><textarea disabled id='account_description_show'></textarea></div>
            <div class='pop_footer'>
                <button style="border-right: 1px solid #7C868D;border-bottom-left-radius: 3px;"  id='update_account' onclick="updateAccount()">Обновить</button>
                <button style=" border-bottom-right-radius: 3px;" id='del-account' onclick="deleteAccount()">Удалить</button>
            </div>
        </div>
        <!-- Update  -->
        <div class='popup' id='popup_account_update' style="display: none;">
            <div class='pop_head'>
                <p>Обновить аккаунт</p>
            </div>
            <div class='pop_field'>
                <p>Название:</p><input id='account_name_upd' autocomplete="off" />
            </div>
            <div class='pop_field'>
                <p>Логин:</p><input id='account_login_upd' autocomplete="off" />
            </div>
            <div class='pop_field'>
                <p>Пароль:</p><input type="password" id='account_password_upd' autocomplete="new-password" />
            </div>
            <div class='pop_field'>
                <p>URL:</p><input id='account_url_upd' autocomplete="off" />
            </div>
            <div class='pop_field dsc'>
                <p>Описание:</p><br><small class='pop_small'>необязательно</small>
            </div>
            <div class="pop_field" id='description'><textarea id='account_description_upd'></textarea></div>
            <div class='pop_footer'>
                <button style=" border-bottom-right-radius: 3px;" id='upd_account'>Обновить</button>
            </div>
        </div>
    </div>
    <!-- Messages Block -->
    <div class="b-popup" id="popup_z" style="display: none;">
        <!-- Simple Message -->
        <div class="popup" id="popup-message" style="display: none; top: 10%;">
            <div class='pop_field'>
                <p align="center" id='message_text'></p>
            </div>
        </div>
        <!-- Confirm Message -->
        <div class="popup" id="popup-confirm" style="display: none; max-width: max-content;">
            <div class='pop_field' id='confirm_text'>
            </div>
            <div class='pop_footer'>
                <button style="border-right: 1px solid #7C868D;border-bottom-left-radius: 3px;" id='confirm_yes'>Да</button>
                <button style="border-bottom-right-radius: 3px;" id='confirm_no' data-target=''>Нет</button>
            </div>
        </div>
        <!--  -->
    </div>
{% endblock %}