{% extends "main/base.html" %}
{% block title %}Secret Keeper{% endblock %}
{% block body %}
      <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
        @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
        body {
          background: #c9dcf1;
        }
      </style>

<div id="authorization">
  <header>Secret Keeper</header>
  <form action="/login" method="POST">
    {% csrf_token %}
    <input class='login-input' name="login" placeholder="Введите логин" autocomplete="off"><br>
    <input class='login-input' name="password" placeholder="Введите пароль" autocomplete="new-password" type="password">
    <button type="submit" id='login' value='войти' onclick="">войти</button>
  </form>
</div>
{% endblock %}