<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script 
        src="https://code.jquery.com/jquery-3.5.1.js" 
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
        crossorigin="anonymous">
    </script>
    <!-- <script type="text/javascript" src="main.js"></script> -->
</head>
<body>
<script>
    $(document).ready(function(){
        //Скрыть PopUp при загрузке страницы    
    });

    $(document).on('click', '#popup', function(e){
        if(!$(e.target).closest(".popup").length) {
            $('.popup').fadeOut(200).after(function(e){
                $('#popup').fadeOut(300)
            })
        }
    })

    $(document).on('click', '.end', function(e){
        $('#popup').fadeIn(300)
        $('#popup_group').fadeIn(300)
    })

    $(document).on('click', '.add-account', function(e){
        $('#popup').fadeIn(300)
        $('#popup_account').fadeIn(300)
    })

    function showMessage(text){
        $('#message_text').text(text)
        $('#popup_z').fadeIn(300).delay(1000).fadeOut(300)
        $('#popup-message').fadeIn(300).delay(900).fadeOut(300)
    }

    $(document).on('click', '.group', function(e){
        if(!$(e.target).hasClass('group')) return NaN 
        $('li').removeClass('selected-group')
        $('.actions').remove()
        $(e.target).addClass('selected-group')
        $(e.target).append(`
            <div class='actions'><span class='sidebar-action add-account'>+</span><span class='sidebar-action del-group'>x</span></div>
        `)
    })




</script>

<div id=sidebar>
    <header>
        Secret Keeper
    </header>
    <ul>
        <li class="group">One</li>
        <li class="group">One</li>
        <li class="group">One</li>
        <li class='end'>Add group</li>
    </ul>
</div>

<style>
    #super_body {
        /* width: 1000px;
        height: 900px; */
        width: 100%;
        height: 100%;
    }

    #main_field {
        display: flex;
        justify-content: space-between;

    }

    #notifications {
        margin-left: 50px;
        width: 225px;
        min-width: 225px;
        height: 100%;
        /* background-color: red; */
    }

    #notifications > div {
        border-bottom: 1px solid black;
        text-align: center;
    }

    #notifications > div > h3 {
        margin: 10px 0;
    }

    #screen {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
</style>

<div id='super_body'>
    <div id='cap'>
        <h3 style='margin: 0;'>Hello, biitch</h3>
    </div>

    <div id='main_field'>
        <div id='screen'>
            <div class='min-account'>
                <div class='name'>Hello, bitch</div>
                <div class='description'>A very large text A very large textA very large text A very large text A very large text A very large text A very large text </div>
                <div class='click'>открыть</div>
            </div>
            <div class='min-account'>
                <div class='name'>Hello, bitch</div>
                <div class='description'>A very large text A very large textA very large text A very large text A very large text A very large text A very large text </div>
                <div class='click'>открыть</div>
            </div>   
            <div class='min-account'>
                <div class='name'>Hello, bitch</div>
                <div class='description'>A very large text A very large textA very large text A very large text A very large text A very large text A very large text </div>
                <div class='click'>открыть</div>
            </div>   
            <div class='min-account'>
                <div class='name'>Hello, bitch</div>
                <div class='description'>A very large text A very large textA very large text A very large text A very large text A very large text A very large text </div>
                <div class='click'>открыть</div>
            </div>   
            <div class='min-account'>
                <div class='name'>Hello, bitch</div>
                <div class='description'>A very large text A very large textA very large text A very large text A very large text A very large text A very large text </div>
                <div class='click'>открыть</div>
            </div>
            <div class='min-account'>
                <div class='name'>Hello, bitch</div>
                <div class='description'>A very large text A very large textA very large text A very large text A very large text A very large text A very large text </div>
                <div class='click'>открыть</div>
            </div>     
            <div class='min-account'>
                <div class='name'>Hello, bitch</div>
                <div class='description'>A very large text A very large textA very large text A very large text A very large text A very large text A very large text </div>
                <div class='click'>открыть</div>
            </div>   
            <div class='min-account'>
                <div class='name'>Hello, bitch</div>
                <div class='description'>A very large text A very large textA very large text A very large text A very large text A very large text A very large text </div>
                <div class='click'>открыть</div>
            </div>   
            <div class='min-account'>
                <div class='name'>Hello, bitch</div>
                <div class='description'>A very large text A very large textA very large text A very large text A very large text A very large text A very large text </div>
                <div class='click'>открыть</div>
            </div>   

            <div class='min-account'>
                <div class='name'>Hello, bitch</div>
                <div class='description'>A very large text A very large textA very large text A very large text A very large text A very large text A very large text </div>
                <div class='click'>открыть</div>
            </div>     
            <div class='min-account'>
                <div class='name'>Hello, bitch</div>
                <div class='description'>A very large text A very large textA very large text A very large text A very large text A very large text A very large text </div>
                <div class='click'>открыть</div>
            </div>     
            
            <div class='min-account'>
                <div class='name'>Hello, bitch</div>
                <div class='description'>A very large text A very large textA very large text A very large text A very large text A very large text A very large text </div>
                <div class='click'>открыть</div>
            </div>     
        </div>
        
        <div id='notifications'>
            <div><h3>Уведомления:</h3></div>

        </div>
    </div>
</div> 

<div class="b-popup" id="popup" style="display: none;">
    <!-- Message window-->
    <!-- Group popUp -->
    <div class="popup" id='popup_group' style="display: none;">
        <div class='pop_head'><p>Account's name</p></div>
        <div class='pop_field'><p>Hello:</p><input /></div>
        <div class='pop_footer'>
            <button style="border-bottom-right-radius: 3px;;border-bottom-left-radius: 3px;">Hello</button>
        </div>
    </div>
    <!-- Usability popUp -->
    <div class='popup' id='popup_account' style="display: none;">
        <div class='pop_head'><p>Account's name</p></div>
        <div class='pop_field'><p>Hello:</p><input /></div>
        <div class='pop_field'><p>Hello:</p><input /></div>
        <div class='pop_field dsc'><p>Hello:</p><br><small class='pop_small'>необязательно</small></div>
        <div class="pop_field"><textarea></textarea></div>
        <div class='pop_footer'>
            <button style="border-right: 1px solid #7C868D;border-bottom-left-radius: 3px;">Hello</button>
            <button style=" border-bottom-right-radius: 3px;">Hello</button>
        </div>
    </div>
</div>

<div class="b-popup" id="popup_z" style="display: none;">
    <div class="popup" id="popup-message" style="display: none;">
        <div class='pop_field'><p id='message_text'>Hello:</p></div>
    </div>
</div>

</body>
</html> 