<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>

    <div id=sidebar>
        <header>
            Secret Keeper
        </header>
        <ul>
            <li class="group">One</li>
            <li class="group">One</li>
            <li class="group">One</li>
            <li class='end'>Add group</li>
        </ul>
    </div>
    
</body>
</html>