@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  display: flex;
}

/* * {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.unselectable[type="text"] {
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.unselectable:focus{outline:none;} */


/* Toggle Styles */
#cap {
  height: 52px;
  width: 100%;
  background-color: #D3DBDF;
  border-bottom: 1px solid #9EAAB0;
  display: flex;
  justify-content: space-between;
}

#user-info {
  padding-left: 25px;
}

#logout {
  background-color: #D3DBDF;
  padding: 0;
  color: #434E53;
  height: 52px;
  font-weight: bold;
  width: 52px;
  font-size: 16px;
  border: none;
  border-left:  1px solid #9EAAB0;
}

#logout:hover {
  cursor: pointer;
  color: #434E53;
  background-color: #BDC7CB;
}

#nots {
  padding: 0;
  padding-left: 3px;
}

#nots > li {
  list-style-type: none;
  text-align: justify; 
  margin-right: 15px;
  margin-bottom: 16px;
}

#nots > li:before {
  content: url('/static/images/important.png');
  margin-right: 3px;
  position:relative;
  bottom: -2px;
}

/* Sidebar Styles */
#sidebar {
  width: 250px;
  min-width: 250px;
  height: 100vh ;
  padding: 0;
  margin: 0;
  background: #37474F;
  color: rgb(228, 228, 228);
}

#sidebar header {
  background-color: #2A383F;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  border-bottom: 1px solid #586B74;
}

#group-list {
  overflow-y: auto;
  display: flex;
  height: calc(100% - 53px - 53px);
  flex-direction: column;
  justify-content: flex-start;
}

#group-list::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #2A383F;
}

::-webkit-scrollbar-thumb {
  background-color: #566c79;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #607986;
}

.group {
  display: flex;
  justify-content:space-between;
  padding-left: 15px;
}

#sidebar div:not(.actions) {
  font-size: 16px;
  line-height: 52px;
  border-bottom: 1px solid #44555E;
}

#sidebar div:not(.actions):hover {
  font-size: 16px;
  line-height: 52px;
  border-bottom: 1px solid #44555E;
  cursor: pointer;
  background-color: #2A383F;
}

#end {
  position: absolute;
  width: 250px;
  bottom: 0;
  border-top: 1px solid #44555E;
  text-align: center;
}

.actions span {
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 7px;
  line-height: 18px; /* Возможно, проблема здесь */
  font-size: 18px;
  margin-right: 0.5rem;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #5a6a72;
}

.add-account:hover {
  background-color: rgba(0, 255, 0, 0.35);
}

.del-group:hover {
  background-color: rgb(255, 0, 0, 0.5);
}

.selected-group {
  background-color: #2A383F;
}

/* END SIDEBAR BLOCK */


.min-account {
  position: relative;
  margin-top: 50px;
  margin-left: 50px;
  width: 200px;
  height: 200px;
  border: 1px solid #C3CED3;
  background-color: #EEF1F3;
}

.min-account .name {
  font-size: 18px;
  text-align: center;
  line-height: 36px;
  background-color: #D3DBDF;
  border-bottom: 1px solid #C3CED3;
}



.min-account .description {
  padding: 10px;
  font-size: 16px;
  /* font-family: 'Neucha', cursive; */
}

.min-account .click {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  text-align: center;
}

.min-account .click:after {
  display: block;
  content: "";
  background-color: #0f7e8d;
  height: 3px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.min-account .click:hover:after,
.min-account .click:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.min-account .click:hover{
  cursor: pointer;
}

/* POPUP BLOCK */
.b-popup{
  width:100%;
  min-height:100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top:0px;
}

.popup {
  background-color: #EDF0F2;
  color: #4B555B;
  padding: None;
  border-radius: 3px;
  /* min-width: 200px; */
  max-width: 300px;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
}

.popup > div {  
  height: 48px;
}

/* Head */
.pop_head {
  line-height: 48px;
  padding: 0;
  margin: 0;
  width: 100%;
  outline: 1px solid #7C868D;
  text-align: center;
}

.pop_head p {
  font-size: 18px;
  letter-spacing: 0.15rem;
  padding: 0;
  margin: 0;
}

/* Fields */
.pop_field {
  display: flex;
  justify-content: space-between;
  line-height: 16px;
  align-items: center;
  padding: 0 10px;
  margin: 3px 0;
}

.pop_field p {
  font-size: 16px;
}
/* Inputs  */
.pop_field input {
  padding-left: 7px;
  margin-left: 5px;
  color: gray;
  background-color: #F6F8FA;
  border: 1px solid #B2BAC0;
  height: 22px;
}

.pop_field input:focus{
  color: #637C8D;
  outline: none;
}

#confirm_text {
  text-align: center;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#alert_text {
  text-align: center;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Textarea */
.pop_small { 
  padding-top: 30px;
  color: gray;
}

#description {
  min-height: 90px;
  margin: 0px 0px 20px 0;
}
textarea {
  text-align: justify;
  overflow-y:hidden;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  color: gray;
  background-color: #F6F8FA;
  border: 1px solid #B2BAC0;
  height: 90px;
  width: 100%;
  resize: none;
}

textarea:focus{
  overflow-y: scroll;
  color: #637C8D;
  background-color: white;
  outline: none;
} 
textarea::-webkit-scrollbar {
  width: 3px;
  height: 8px;
  background-color: white;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #5aa4d6;
  /* border-radius: 12px; */
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #5aa4d6;
}
/* Footer */
.pop_footer {
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  width: 100%;
  font-size: 16px;
  outline: 1px solid #7C868D;
}

.pop_footer button {
  letter-spacing: 0.15rem;
  height: 100%;
  width: 100%;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  align-items: center;
  border: none;
  outline: none;
}

.pop_footer button:hover{
  cursor: pointer;
  background-color: rgb(31, 37, 40, 0.35);
  color: #EDF0F2;
}
/* End CSS */


/* LOGIN PAGE */
#authorization {
  background: white;
  color: black;
  border-radius: 5px;
  padding: 1em;
  position: absolute;
  top: 43%;
  left: 48%;
  transform: translate(-50%, -50%);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#authorization > header {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: 0.15rem;
  text-align: center;
  border-bottom: 1px solid #586B74;
} 

#authorization input {
  width: 300px;
  border: 1px solid #586B74;
  background-color: white;
  padding: 0 5px;
  margin-top: 15px;
  font-size: 18px;
  letter-spacing: 0.1rem;
  height: 40px;
  line-height: 52px;
  text-align: center;
  color: #516279;
}

#authorization input:focus {
  outline: none;
  color: #516279;
}

#authorization p {
  padding: 0;
  margin: 0;
}

#login {
  margin-top: 15px;
  width: 100%;
  height: 44px;
  border: none;
  color: #516279;
  font-size: 18px;
  letter-spacing: 0.1rem;
  background-color: #dce8f5;
  border: 1px solid #586B74;
}

#login:hover {
  cursor: pointer;
  background-color: #c9dcf1;
}

#login:focus {
  outline: none;
  background-color: #c9dcf1;
}